nav {
    background-color: #333;
    padding: 10px;
    margin-bottom: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    margin-right: 10px;
    display: inline-block;
    border-radius: 4px;
}

nav a:hover {
    background-color: #555;
}

h1{
    color:red;
    text-align: center;
    background-color: yellow;
}
form{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    background-color: lightgrey;
}